<!-- <app-shopping-cart></app-shopping-cart> -->

<p-table [value]="orders" responsiveLayout="scroll" class="orders-table" [paginator]="true" [rows]="5"
         [showCurrentPageReport]="true">
  <ng-template pTemplate="header">
    <tr>
      <th>Item Name</th>
      <th>Category</th>
      <th>Type</th>
      <th>Length</th>
      <th>Dia(mm)</th>
      <th>Drive Size</th>
      <th></th>
      <th>Action</th>

    </tr>
  </ng-template>
  <ng-template pTemplate="body" let-order>
    <tr>
      <td>{{order.prodName}}</td>
      <td>{{order.prodCategoryId}}</td>
      <td>{{order.prodTypeId}}</td>
      <td>{{order.length}}</td>
      <td>{{order.diaMm}}</td>
      <td>{{order.driveSize}}</td>
      <td><input type="text" pInputText value="{{order.quantity}}"></td>
      <td><i class='fa fa-trash red-color' style="color: red;"></i></td>
    </tr>
  </ng-template>
</p-table>
<p-button label="Place Order" (onClick)="placeOrder()"></p-button>
